### Check Connection###
#Copy to /usr/local/nagios/etc/nrpe/vnpay.cfg#
command[check_port]=/usr/local/nagios/libexec/check_tcp -H $ARG1$ -p $ARG2$ -w $ARG3$ -c $ARG4$ -t 30
command[check_tcp]=/usr/local/nagios/libexec/check_tcp -H $ARG1$ -p $ARG2$ -t 30
command[check_http]=/usr/local/nagios/libexec/check_http -H $ARG1$ -p $ARG2$ -u $ARG3$ -f ok -t 30
command[check_https]=/usr/local/nagios/libexec/check_http -H $ARG1$ -p $ARG2$ -u $ARG3$ -f follow -t 30 -S -E
command[check_httpe]=/usr/local/nagios/libexec/check_http -H $ARG1$ -p $ARG2$ -u $ARG3$ -f ok -t 30 -E
command[check_httpse]=/usr/local/nagios/libexec/check_http -H $ARG1$ -p $ARG2$ -u $ARG3$ -f ok -t 30 -S -E
command[check_ping]=/usr/local/nagios/libexec/check_ping -H $ARG1$ -w $ARG2$% -c $ARG3$%
command[count_connection]=/usr/local/nagios/libexec/count_connection_port.sh -p $ARG1$ -h $ARG2$ -w $ARG3$ -c $ARG4$

###############Linux System#####################################
# Check disk usage on /, /home, /var 
command[check_disk_new]=/usr/local/nagios/libexec/check_linux_stats.pl -D -w $ARG1$ -c $ARG2$ -p /,/home,/var,/usr,/tmp,/data,/data1,/backup -u GB
command[check_disk_root]=/usr/local/nagios/libexec/check_linux_stats.pl -D -w 10 -c 5 -p / -u %
command[check_disk_home]=/usr/local/nagios/libexec/check_linux_stats.pl -D -w 10 -c 5 -p /home -u %
command[check_disk_var]=/usr/local/nagios/libexec/check_linux_stats.pl -D -w 10 -c 5 -p /var -u %
command[check_disk_usr]=/usr/local/nagios/libexec/check_linux_stats.pl -D -w 10 -c 5 -p /usr -u %
# Check load average
command[check_load_new]=/usr/local/nagios/libexec/check_linux_stats.pl -L -w $ARG1$,$ARG2$,$ARG3$ -c $ARG4$,$ARG5$,$ARG6$
# Check memory & swap usage
command[check_mem_new]=/usr/local/nagios/libexec/check_linux_stats.pl -M -w $ARG1$,$ARG2$ -c $ARG3$,$ARG4$
# Check cpu usage
command[check_cpu_new]=/usr/local/nagios/libexec/check_linux_stats.pl -C -w $ARG1$ -c $ARG2$ -s 5
# Check open files
command[check_open_file_new]=/usr/local/nagios/libexec/check_linux_stats.pl -F -w $ARG1$,$ARG2$ -c $ARG3$,$ARG4$
# Check io disk on device sda1, sda3 and sda4
#command[check_io_new]=/usr/local/nagios/libexec/check_linux_stats.pl -I -w 2000,600 -c 3000,800 -p $ARG1$ -s 5
command[check_io_new]=/usr/local/nagios/libexec/check_linux_stats.pl -I -w $ARG2$,$ARG3$ -c $ARG4$,$ARG5$ -p $ARG1$ -u MB -s 5
# Check processes
command[check_procs_new]=/usr/local/nagios/libexec/check_linux_stats.pl -P -w $ARG1$ -c $ARG2$
# Process mem & cpu 
command[check_process]=/usr/local/nagios/libexec/check_linux_stats.pl -T -w $ARG1$ -c $ARG2$ -p $ARG3$
# Check network usage on eth0
command[check_net_new]=/usr/local/nagios/libexec/check_linux_stats.pl -N -w $ARG2$ -c $ARG3$ -p $ARG1$ -s 5
# Check socket usage
command[check_socket_new]=/usr/local/nagios/libexec/check_linux_stats.pl -S -w $ARG1$ -c $ARG2$
# Check uptime 
command[check_uptime_new]=/usr/local/nagios/libexec/check_linux_stats.pl -U -w 5
# Check CPU context switch
command[check_ctxt_new]=/usr/local/nagios/libexec/check_linux_stats.pl -X -w $ARG1$ -c $ARG2$ -s 5

command[check_ossec_alert]=sudo /usr/local/nagios/libexec/check_ossec_alert.pl -logfile $ARG1$
command[check_linux_process]=/usr/local/nagios/libexec/check_lin_process.sh -p $ARG1$
######Check Time############################################

command[check_time_diff]=/usr/local/nagios/libexec/check_time_diff.sh -f $ARG1$ -t "$ARG2$" -w $ARG3$ -c $ARG4$

########command##RabbitMQ##################################
command[check_rabbitmq_connections]=/usr/local/nagios/libexec/check_rabbitmq_connections -H 127.0.0.1 -u $ARG1$ -p $ARG2$
command[check_rabbitmq_objects]=/usr/local/nagios/libexec/check_rabbitmq_objects -H 127.0.0.1 -u $ARG1$ -p $ARG2$
command[check_rabbitmq_overview]=/usr/local/nagios/libexec/check_rabbitmq_overview -H 127.0.0.1 -u $ARG1$ -p $ARG2$
command[check_rabbitmq_partition]=/usr/local/nagios/libexec/check_rabbitmq_partition -H 127.0.0.1 -u $ARG1$ -p $ARG2$
command[check_rabbitmq_aliveness]=/usr/local/nagios/libexec/check_rabbitmq_aliveness -H 127.0.0.1 -u $ARG1$ -p $ARG2$ 
command[check_rabbitmq_queues]=/usr/local/nagios/libexec/check_rabbitmq_queues.pl -H 127.0.0.1 -u $ARG1$ -p $ARG2$ -w $ARG3$ -c $ARG4$ -q $ARG5$
command[check_rabbitmq_queue]=/usr/local/nagios/libexec/check_rabbitmq_queue -H 127.0.0.1 -u $ARG1$ -p $ARG2$ -w $ARG3$ -c $ARG4$ -q $ARG5$
command[check_rabbitmq_server]=/usr/local/nagios/libexec/check_rabbitmq_server -H 127.0.0.1 -u $ARG1$ -p $ARG2$ -n $ARG3$
command[check_rabbitmq_shovels]=/usr/local/nagios/libexec/check_rabbitmq_shovels -H 127.0.0.1 -u $ARG1$ -p $ARG2$

###########check_Webshere###################################
command[check_perfserv_retriever]=/usr/local/nagios/libexec/perfservmon.py -C $ARG1$ retrieve -N 127.0.0.1 -P $ARG2$ -H $ARG3$
command[check_perfserv_show]=/usr/local/nagios/libexec/perfservmon.py -C $ARG1$ show -n $ARG2$ -s $ARG3$ -M $ARG4$ -w $ARG5$ -c $ARG6$
command[check_perfserv_show_DCP]=/usr/local/nagios/libexec/perfservmon.py -C $ARG1$ show -n $ARG2$ -s $ARG3$ -M DBConnectionPoolPercentUsed -j $ARG4$ -w $ARG5$ -c $ARG6$
command[check_perfserv_show_SIB]=/usr/local/nagios/libexec/perfservmon.py -C $ARG1$ show -n $ARG2$ -s $ARG3$ -M SIBDestinations -d $ARG4$ -w $ARG5$ -c $ARG6$

########## Nginx & Redis & Weblogic & jboss#############

command[check_nginx_status]=/usr/local/nagios/libexec/check_nginx_stats.pl -H 127.0.0.1 -u /nginx_status
command[check_wls]=/usr/local/nagios/libexec/check_wls/check_wls.sh 127.0.0.1 port username password $ARG1$ $ARG2$
command[check_redis_stats]=/usr/local/nagios/libexec/check_redis_stats.pl -H 127.0.0.1 -p $ARG1$ -s connected_clients,keyspace_hits,keyspace_misses,latest_fork_usec,instantaneous_input_kbps,instantaneous_ops_per_sec,instantaneous_output_kbps,query_time,uptime_in_days
command[check_redis_clients]=/usr/local/nagios/libexec/check_redis_clients.pl -H $ARG1$ -p $ARG2$

command[check_tcat]=sudo /usr/local/nagios/libexec/check_tomcat.pl -H $ARG1$ -p $ARG2$ -w $ARG3$ -c $ARG4$ -l $ARG5$ -a $ARG6$

###########Check jboss##########################

command[check_jboss]=/usr/local/nagios/libexec/check_jbossas7.py -D -H $ARG1$ -A $ARG2$ -P $ARG3$ -u $ARG4$ -p $ARG5$ -W $ARG6$ -C $ARG7$
command[check_jboss_memory]=/usr/local/nagios/libexec/check_jbossas7.py -D -H $ARG1$ -A $ARG2$ -P $ARG3$ -u $ARG4$ -p $ARG5$ -W $ARG6$ -C $ARG7$ -m $ARG8$
command[check_jboss_gc]=/usr/local/nagios/libexec/check_jbossas7.py -D -H $ARG1$ -A $ARG2$ -P $ARG3$ -u $ARG4$ -p $ARG5$ -m $ARG6$ -W $ARG7$ -C $ARG8$
command[check_jboss_messaging]=/usr/local/nagios/libexec/check_jbossas7.py -D -H $ARG1$ -A $ARG2$ -P $ARG3$ -u $ARG4$ -p $ARG5$ -q $ARG6$ -W $ARG7$ -C $ARG8$
command[check_jboss_datasource]=/usr/local/nagios/libexec/check_jbossas7.py -D -H $ARG1$ -A $ARG2$ -P $ARG3$ -u $ARG4$ -p $ARG5$ -d $ARG6$ -s $ARG7$ -W $ARG8$ -C $ARG9$
command[check_jboss_threading]=/usr/local/nagios/libexec/check_jbossas7.py -D -H $ARG1$ -A $ARG2$ -P $ARG3$ -u $ARG4$ -p $ARG5$ -t $ARG6$ -W $ARG7$ -C $ARG8$

command[check_top5_process]=/usr/local/nagios/libexec/check_cpu_linux.sh -w $ARG1$ -uw $ARG2$ -iw $ARG3$ -sw $ARG4$ -c $ARG5$ -uc $ARG6$ -ic $ARG7$ -sc $ARG8$
command[check_springboot]=/usr/local/nagios/libexec/check_springboot.py --host 127.0.0.1 --port $ARG1$ --warning $ARG2$ --critical $ARG3$ $ARG4$

